<template>
  <div class="gradients"></div>
  <div class="content">
    <div class="grid">
      <div class="text">
        <div class="lostHeader">Are you lost?</div>
        <div class="blurb">
          Hello traveler, it seems you may have taken a wrong turn, or you're
          trying to discover something that doesn't exist. These are uncharted
          lands, it might be dangerous here. Allow me to guide you back to safe
          territory, friend.
        </div>
        <div class="links">
          <router-link to="/">Go home</router-link>
          <router-link to="/about">About me</router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.gradients {
  pointer-events: none;
  position: absolute;
  inset: 0px;
  overflow: hidden;
  height: 100%;
}

.gradients:before {
  will-change: transform;
  content: "";
  position: fixed;
  top: 0px;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0.12;
  filter: blur(60px);
  background: conic-gradient(
    from 180deg at 58.33% 50%,
    rgb(225, 84, 176) 0deg,
    rgb(139, 25, 157) 91.02deg,
    rgb(99, 242, 255) 180.24deg,
    rgb(252, 26, 180) 269.01deg,
    rgb(109, 84, 225) 360deg
  );
	animation-name: bg-blur-in;
	animation-duration: 1200ms;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: backwards;
	animation-play-state: running;
}

.gradients:after {
  content: "";
  position: fixed;
  inset: 60% 0px 0px;
  background: linear-gradient(to top, rgb(6, 6, 6), transparent);
}

.content {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.grid {
  width: 100%;
  max-width: 1260px;

  box-sizing: border-box;
  display: grid;

  gap: 0 20px;
  padding: 0 48px;
}

.lostHeader {
  font-size: 48px;
  font-weight: bolder;
}

.text {
  grid-column: span 7;
  max-width: 600px;
}

.blurb {
  margin-top: 1rem;
}

.links {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.links > a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 130, 186);
}

.links > a:hover {
  text-decoration: underline;
}


@keyframes bg-blur-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.12;
	}
}
</style>
