<template>
	<transition>
		<div class="newContent">
			<div class="contentWrapper">
				<div class="main">
					<div class="homeContents">

					</div>
				</div>
			</div>
		</div>
	</transition>

</template>
<script setup>

</script>

<style scoped lang="scss">
.newContent {
	display: flex;
	flex: 1 1 0%;
}

.contentWrapper {
	display: flex;
	width: 100%
}

.main {
	overflow-y: auto;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	display: flex;
	position: relative;

	justify-content: center;
	align-items: center;
}

.homeContents {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;

	max-width: 40rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	word-break: break-word;
}

a {
	color: rgb(59 130 246);
	text-decoration: none;
	border-radius: 4px;
	padding-left: 2px;
	padding-right: 2px;
}

a:hover {
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

a:focus {
	text-decoration: underline;
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

* {
	line-height: 1.75;
}

.title {
	font-weight: bolder;
	font-size: clamp(24px,3vw,36px);
	margin-bottom: 2rem;
}

.homeImg {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	border: none;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	border-radius: 2rem;
}

</style>