<template>
	<transition>
		<div class="blogElements">
			<NewBlogNav/>
			<router-view v-slot="{ Component }">
				<transition :name="$route.meta.transition || 'fade'" mode="out-in">
					<component :is="Component" />
				</transition>
			</router-view>
		</div>
	</transition>
</template>

<script setup>
import NewBlogNav from '../components/NewBlogNav.vue'
</script>

<script>

</script>

<style scoped>
.blogElements {
	display: flex;
	flex-direction: row;
	width: 100%;
}
</style>