<template>
  <transition>
    <div class="newContent">
      <div class="contentWrapper">
        <div class="main">
          <div class="homeContents">
            <div style="padding: 2rem"></div>
            <div class="homeParagraph">
              <h1 class="title">Contact</h1>
            </div>
            <div style="padding: 0.5rem"></div>
            <div class="homeParagraph">
							Let's be friends! I have accounts on these platforms. Feel free to drop by anytime and give me a shout for whatever you want!
            </div>
            <div style="padding: 0.5rem"></div>
            <div style="padding: 1rem"></div>
            <div class="socialCardsList">

							<div class="socialCard telegramCard">
								<div class="socialText">
									<div class="socialTitle">Telegram</div>
									<div class="socialContents">@FeroTheFox</div>
								</div>

								<div class="socialImage">
									<Telegram />
								</div>
							</div>

              <div class="socialCard matrixCard">
                <div class="socialText">
                  <div class="socialTitle">Matrix</div>
                  <div class="socialContents">@ferosh:tchncs.de</div>
                </div>

                <div class="socialImage">
                  <Matrix />
                </div>
              </div>

              <div class="socialCard cohostCard">
                <div class="socialText">
                  <div class="socialTitle">Cohost</div>
                  <div class="socialContents">@Fero</div>
                </div>

                <div class="socialImage">
                  <Cohost />
                </div>
              </div>

							<div class="socialCard mastodonCard">
								<div class="socialText">
									<div class="socialTitle">Mastodon (not preferred!)</div>
									<div class="socialContents">@fero@vulpine.club</div>
								</div>

								<div class="socialImage">

								</div>
							</div>

							<div class="socialCard emailCard">
								<div class="socialText">
									<div class="socialTitle">Email (not preferred!)</div>
									<div class="socialContents">evan@evan.graphics</div>
								</div>

								<div class="socialImage">

								</div>
							</div>

            </div>

            <div style="padding: 2rem"></div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script setup>
import Matrix from "../icons/matrix.vue";
import Telegram from "../icons/telegram.vue";
import Cohost from "../icons/cohost.vue";
</script>

<style scoped>
.newContent {
  display: flex;
  flex: 1 1 0%;
}

.contentWrapper {
  display: flex;
  width: 100%;
}

.main {
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  display: flex;
  position: relative;
}

.homeContents {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;

  max-width: 40rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  word-break: break-word;
}

a {
  color: rgb(59 130 246);
  text-decoration: none;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

a:hover {
  background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

a:focus {
  text-decoration: underline;
  background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

* {
  line-height: 1.75;
}

.title {
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: 2rem;
}

.socialCard {
  background: rgba(10, 10, 10, 1) none repeat scroll 0% 0%;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.socialText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: 100%;
}

.socialTitle {
  font-weight: bold;
	font-size: 20px;
	user-select: none;
}

.socialContents {
	font-family: monospace;
	user-select: all;
}

.socialImage {
  display: flex;
  justify-self: flex-end;
  width: 4rem;
  height: 4rem;
}

.socialImage > svg {
  width: 4rem;
  height: 4rem;
}

.socialCardsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socialCard {
	transition: 0.1s ease-in-out;
  background: rgb(19, 19, 21) none repeat scroll 0% 0%;
  z-index: 1;
/*	opacity: 0.9;*/
}

.socialCard:hover {
	opacity: 1;
	transform: scale(1.009);
  z-index: 2;
}

.telegramCard {
	background-color: rgb(47, 157, 254);
	box-shadow: rgb(47 157 254 / 50%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.matrixCard {
	background-color: rgb(22, 201, 83);
	box-shadow: rgb(22 201 83 / 50%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.cohostCard {
	background-color: rgb(251, 146, 54);
	box-shadow: rgb(251 146 54 / 50%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.emailCard {
	background-color: rgb(251, 74, 74);
	box-shadow: rgb(251 74 74 / 50%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.mastodonCard {
	background-color: rgb(107, 74, 252);
	box-shadow: rgb(107 74 252 / 50%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

/*.telegramCard {
  border-left: 2px solid rgb(47, 157, 254);
}

.matrixCard {
  border-left: 2px solid rgb(22, 201, 83);
}

.cohostCard {
  border-left: 2px solid rgb(251, 146, 54);
}

.emailCard {
  border-left: 2px solid rgb(251, 74, 74);
}

.mastodonCard {
  border-left: 2px solid rgb(107, 74, 252);
}*/

.telegramCard:hover {
	background-color: rgb(56, 160, 252);
	box-shadow: rgb(47 157 254 / 70%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.matrixCard:hover {
	background-color: rgb(29, 204, 89);
	box-shadow: rgb(22 201 83 / 70%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.cohostCard:hover {
	background-color: rgb(252, 151, 63);
	box-shadow: rgb(251 146 54 / 70%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.emailCard:hover {
	background-color: rgb(252, 86, 86);
	box-shadow: rgb(251 74 74 / 70%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}

.mastodonCard:hover {
	background-color: rgb(113, 82, 252);
	box-shadow: rgb(107 74 252 / 70%) 0px 0px 80px 0px, rgb(255 255 255 / 20%) 0px 0px 80px 0px inset;
}
</style>
