<template>
  <transition>
    <div class="newContent">
      <div class="contentWrapper">
        <div class="main">
          <div class="homeContents">
            <div style="padding: 2rem"></div>
            <div class="homeParagraph svgRow">
              <!--					<RandomText>	</RandomText>-->
              <!--					<h1 class="title">Welcome to evan.graphics.</h1>-->
            </div>
            <div class="GradientHero">
              <div class="logoWrapper">
								<svg class="logo" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-c4fc93aa="" style="
    opacity: 0.99;
    mix-blend-mode: overlay;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
"><path class="logo-part-1" d="M0 27.2152V11.6638H36.0564V27.2152H10.5164V36.4862L0 27.2152Z" fill="#fff" data-v-c4fc93aa=""></path><path class="logo-part-2" d="M27.0424 28.1123H11.418V64.0001H27.0424L36.357 53.5328H27.0424V28.1123Z" fill="#fff" data-v-c4fc93aa=""></path><path class="logo-part-3" d="M36.9576 10.7663H27.6431L37.2581 0H52.5821V36.1869H36.9576V10.7663Z" fill="#fff" data-v-c4fc93aa=""></path><path class="logo-part-4" d="M64 37.084L53.4835 27.813V37.084H27.9436V52.3363H64V37.084Z" fill="#fff" data-v-c4fc93aa=""></path></svg>
								<svg class="logo" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-c4fc93aa="" style="opacity: 0.99; mix-blend-mode: overlay; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"><path class="logo-part-1" d="M0 27.2152V11.6638H36.0564V27.2152H10.5164V36.4862L0 27.2152Z" fill="#222" data-v-c4fc93aa=""></path><path class="logo-part-2" d="M27.0424 28.1123H11.418V64.0001H27.0424L36.357 53.5328H27.0424V28.1123Z" fill="#222" data-v-c4fc93aa=""></path><path class="logo-part-3" d="M36.9576 10.7663H27.6431L37.2581 0H52.5821V36.1869H36.9576V10.7663Z" fill="#222" data-v-c4fc93aa=""></path><path class="logo-part-4" d="M64 37.084L53.4835 27.813V37.084H27.9436V52.3363H64V37.084Z" fill="#222" data-v-c4fc93aa=""></path></svg>
              </div>

              <canvas
                id="gradient-canvas"
                data-js-darken-top
                data-transition-in
              />
            </div>

            <div style="padding: 0.5rem"></div>
            <div style="font-weight: bold" class="homeParagraph">
              I'm Evan - a visual artist, designer, and developer.
            </div>
            <div style="padding: 0.5rem"></div>
            <div style="padding: 0.5rem"></div>
            <div class="homeParagraph">
              I focus on delightful UI and UX for early-stage, high-demand
              products. I'm currently working on
              <a
                href="https://github.com/robolab-io/stable-diffusion"
                target="_blank"
                rel="noopener noreferrer"
                tabindex="1"
                >Stable Diffusion, the future of human art, creativity, and
                language</a
              >.
            </div>
            <div style="padding: 0.5rem"></div>
            <div class="homeParagraph">
              I enjoy digital design and exploring methods of innovation
              through design mediums. I love cryptography and information
              security. I experiment with real-time network systems and
              hardware.
            </div>
            <div style="padding: 0.5rem"></div>
            <div class="homeParagraph">
              In my free time, I make music, contribute to open source, and talk
              with startup founders.
            </div>
            <div style="padding: 0.5rem"></div>
            <div class="homeParagraph">
              I love to meet new people, and I'd love to be friends. Please feel
              free to say hi on
              <a
                href="https://go.evan.graphics/twitter"
                target="_blank"
                rel="noopener noreferrer"
                tabindex="1"
                >Twitter</a
              >
              or see my
              <router-link tabindex="1" class="aboutLink" to="/contact"
                >Contact page</router-link
              >.
            </div>
            <div style="padding: 0.5rem"></div>
            <div class="homeParagraph">
              To hire me, see my portfolio, or ask about volunteer work, please feel free to
              <a
                href="mailto:jobs@evan.graphics"
                target="_blank"
                rel="noopener noreferrer"
                tabindex="1"
                >email me</a
              >.
            </div>

            <!--				<div style="padding: 0.5rem"></div>-->
            <!--				<section class="imageGrid">-->
            <!--					<span class="radial"></span>-->
            <!--					<img class="showcase-img" src="https://i.imgur.com/uozX6bg.png"/>-->
            <!--					<img class="showcase-img" src="https://i.imgur.com/uOTzkuh.png"/>-->
            <!--					<img class="showcase-img" src="https://i.imgur.com/IxMbgPU.png"/>-->
            <!--					<img class="showcase-img" src="https://i.imgur.com/ZnUcTnl.jpg"/>-->
            <!--					<img class="showcase-img" src="https://media.discordapp.net/attachments/931612488624128120/993001485480759306/zapty-optimized.gif"/>-->
            <!--				</section>-->

            <div style="padding: 2rem"></div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script setup>
import { Gradient } from "../components/Gradient.js";
import { ref, onMounted } from "vue";

onMounted(() => {
  const gradient = new Gradient();
  gradient.initGradient("#gradient-canvas");
});
</script>

<style scoped>
.svgRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.logo {
  width: 4rem;
  height: 4rem;
  /*animation: logo-rotate 1s ease-out;*/
  /*animation-timing-function: cubic-bezier(0,.97,.2,1);*/
	/*transition: 0.2s ease;*/
}

/*.logo:hover {*/
/*	-webkit-transform: rotate(16deg);*/
/*}*/
@keyframes glow-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}
@keyframes fade-in-up-better {
  from {
    opacity: 0;
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@keyframes logo-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

/*.logo-part-1 {*/
/*  animation: bounce-y1 1s;*/
/*  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);*/
/*}*/
/*.logo-part-2 {*/
/*  animation: bounce-y2 1s;*/
/*  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);*/
/*}*/
/*.logo-part-3 {*/
/*  animation: bounce-y3 1s;*/
/*  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);*/
/*}*/
/*.logo-part-4 {*/
/*  animation: bounce-y4 1s;*/
/*  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);*/
/*}*/

@keyframes bounce-y1 {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes bounce-y2 {
  0% {
    transform: translate(-50%, 50%);
  }

  50% {
    transform: translate(-50%, 50%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes bounce-y3 {
  0% {
    transform: translate(50%, -50%);
  }

  50% {
    transform: translate(50%, -50%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes bounce-y4 {
  0% {
    transform: translate(50%, 50%);
  }

  50% {
    transform: translate(50%, 50%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.newContent {
  display: flex;
  flex: 1 1 0%;
}

.contentWrapper {
  display: flex;
  width: 100%;
}

.main {
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  display: flex;
  position: relative;
}

.homeContents {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;

  max-width: 40rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  word-break: break-word;
}

a {
  color: rgb(59 130 246);
  text-decoration: none;
  border-radius: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

a:hover {
  background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

a:focus {
  text-decoration: underline;
  background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

* {
  line-height: 1.75;
}

.title {
  font-weight: bolder;
  font-size: clamp(24px, 3vw, 36px);
  margin-bottom: 2rem;
}

.homeImg {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  background: none;
  opacity: 1;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: none;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 2rem;
}

.gradientImg {
  animation: gradientHue 5s ease-in-out infinite forwards;
}

@keyframes gradientHue {
  0% {
    filter: hue-rotate(0deg);
  }

  25% {
    filter: hue-rotate(30deg);
  }

  50% {
    filter: hue-rotate(45deg);
  }

  75% {
    filter: hue-rotate(30deg);
  }

  to {
    filter: hue-rotate(0deg);
  }
}

.radial {
  --transparent: rgba(0, 0, 0, 0);

  --grid-color: #a9a1ff;
  --gradient-opacity: 0.2;
  --gradient: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64%
  );

  --size: 800px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radial:before {
  --grid-size: 24px;
  --grid-size-half: 12px;

  height: var(--size);
  width: var(--size);

  opacity: 0;
  background-size: var(--grid-size) var(--grid-size);
  background-image: linear-gradient(
      to right,
      var(--transparent) var(--grid-size-half),
      var(--grid-color) calc(var(--grid-size-half) + 1px),
      var(--transparent) calc(var(--grid-size-half) + 1px)
    ),
    linear-gradient(
      to bottom,
      var(--transparent) var(--grid-size-half),
      var(--grid-color) calc(var(--grid-size-half) + 1px),
      var(--transparent) calc(var(--grid-size-half) + 1px)
    );
}

.radial:after {
  border-radius: 50%;
  opacity: var(--gradient-opacity);
  filter: blur(50px);
  background: var(--gradient);
}

.radial:before,
.radial:after {
  content: "";
  position: absolute;
  overflow: visible;
  height: var(--size);
  width: var(--size);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subtitle {
  font-weight: bold;
}

.imageGrid {
  line-height: 0;

  -webkit-column-count: 2;
  -webkit-column-gap: 0px;
  -moz-column-count: 2;
  -moz-column-gap: 0px;
  column-count: 2;
  column-gap: 0px;
}

.imageGrid img {
  width: 100% !important;
  height: auto !important;
}

.showcase-img {
}

#gradient-canvas {
  width: 100%;
  height: 200px;
	--gradient-color-1: #a960ee;
	--gradient-color-2: #ff333d;
	--gradient-color-3: #90e0ff;
	--gradient-color-4: #ffcb57;

  border-radius: 10px;
}

.GradientHero {

}

.GradientHero:after {
	--gradientColorZero: #a960ee;
	--gradientColorOne: #ff333d;
	--gradientColorTwo: #90e0ff;
	--gradientColorThree: #ffcb57;
	--gradientColorZeroTransparent: rgba(169,96,238,0);
	--gradientColorOneTransparent: rgba(255,51,61,0);
	--gradientColorTwoTransparent: rgba(144,224,255,0);
	--gradientColorThreeTransparent: rgba(255,203,87,0);

	background-repeat: repeat-y;
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: radial-gradient(var(--gradientColorThree) 23%,var(--gradientColorThreeTransparent) 67% 100%) 385px -24px,radial-gradient(var(--gradientColorOne) 0,var(--gradientColorOneTransparent) 60% 100%) -940px 290px,radial-gradient(var(--gradientColorTwo) 10%,var(--gradientColorTwoTransparent) 60% 100%) -120px 250px,radial-gradient(var(--gradientColorOne) 40%,var(--gradientColorOneTransparent) 57% 100%) 495px -44px,radial-gradient(var(--gradientColorZero) 30%,var(--gradientColorZeroTransparent) 67% 100%) 122px -120px,radial-gradient(var(--gradientColorZero) 10%,var(--gradientColorZeroTransparent) 60% 100%) -420px 120px,radial-gradient(var(--gradientColorTwo) 15%,var(--gradientColorTwoTransparent) 50% 100%) -620px 0,radial-gradient(var(--gradientColorTwo) 25%,var(--gradientColorTwoTransparent) 50% 100%) 520px -250px,var(--gradientColorZero)
}

.logoWrapper {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	mix-blend-mode: overlay;
}

@media only screen and (max-width: 768px) {
  .sloganWrapper {
    display: none;
  }
}
</style>
