<template>
	<transition>
		<div class="newContent">
			<div class="contentWrapper">
				<div class="main">
					<div class="brandingContainer">
						<div class="gradients"></div>
						<div class="title" style="">
<!--							<div class="" style="font-weight: bold; font-size: 36px;">Projects</div>-->
							<div class="prologue" style="margin-top: 1rem;">Prologue</div>
							<div class="" style="font-weight: normal; font-size: 16px;">Hundreds of thousands of people use my products every day. From streamers and bloggers, developers, and the future generation of creators, I'm committed to design that evolves and passionate for delightful digital experiences.</div>

							<a class="button" href="#start" style="margin-top: 1rem;">
								<div class="buttontext" style="">See my work</div>
							</a>

						</div>
						<div class="logoContainer">
							<svg
								class="logo"
								viewBox="0 0 64 64"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
								>
								<path
									class="logo-part-1"
									d="M0 27.2152V11.6638H36.0564V27.2152H10.5164V36.4862L0 27.2152Z"
									fill="white"
								/>
								<path
									class="logo-part-2"
									d="M27.0424 28.1123H11.418V64.0001H27.0424L36.357 53.5328H27.0424V28.1123Z"
									fill="white"
								/>
								<path
									class="logo-part-3"
									d="M36.9576 10.7663H27.6431L37.2581 0H52.5821V36.1869H36.9576V10.7663Z"
									fill="white"
								/>
								<path
									class="logo-part-4"
									d="M64 37.084L53.4835 27.813V37.084H27.9436V52.3363H64V37.084Z"
									fill="white"
								/>
                			</svg>
						</div>
						<svg width="100%" height="100%" style="position: absolute;" viewBox="0 0 1920 700" fill="none" class=""><path d="M1 3.00354C179.628 198.347 377.216 285 632.684 285C888.152 285 973.973 285 1290.31 285C1606.65 285 1797.76 143.751 1921 1.00002" stroke="url(#path)" vector-effect="non-scaling-stroke"></path><path d="M1 197.5C185.5 282.5 336 320 631 320C926 320 980 320 1291 320C1602 320 1746.5 276.5 1921 197.5" stroke="url(#path)" vector-effect="non-scaling-stroke"></path><path d="M1 354H1921" stroke="url(#path)" vector-effect="non-scaling-stroke"></path><path d="M1 510C185.5 425 336 387.5 631 387.5C926 387.5 980 387.5 1291 387.5C1602 387.5 1746.5 431 1921 510" stroke="url(#path)" vector-effect="non-scaling-stroke"></path><path d="M1 704.996C179.628 509.653 377.216 423 632.684 423C888.152 423 973.973 423 1290.31 423C1606.65 423 1797.76 564.249 1921 707" stroke="url(#path)" vector-effect="non-scaling-stroke"></path><line x1="0" y1="0" x2="80" y2="0" stroke="url(#datum)" stroke-width="2" stroke-linecap="round" transform="translate(-80,0)" vector-effect="non-scaling-stroke"><animateMotion dur="3s" repeatCount="indefinite" path="M1 3.00354C179.628 198.347 377.216 285 632.684 285C888.152 285 973.973 285 1290.31 285C1606.65 285 1797.76 143.751 1921 1.00002" rotate="auto" begin="1"></animateMotion></line><line x1="0" y1="0" x2="80" y2="0" stroke="url(#datum)" stroke-width="2" stroke-linecap="round" transform="translate(-80,0)" vector-effect="non-scaling-stroke"><animateMotion dur="2.5s" repeatCount="indefinite" path="M1 197.5C185.5 282.5 336 320 631 320C926 320 980 320 1291 320C1602 320 1746.5 276.5 1921 197.5" rotate="auto" begin="5"></animateMotion></line><line x1="0" y1="0" x2="80" y2="0" stroke="url(#datum)" stroke-width="2" stroke-linecap="round" transform="translate(-80,0)" vector-effect="non-scaling-stroke"><animateMotion dur="4s" repeatCount="indefinite" path="M1 354H1921" rotate="auto" begin="3"></animateMotion></line><line x1="0" y1="0" x2="80" y2="0" stroke="url(#datum)" stroke-width="2" stroke-linecap="round" transform="translate(-80,0)" vector-effect="non-scaling-stroke"><animateMotion dur="3.5s" repeatCount="indefinite" path="M1 510C185.5 425 336 387.5 631 387.5C926 387.5 980 387.5 1291 387.5C1602 387.5 1746.5 431 1921 510" rotate="auto" begin="2"></animateMotion></line><line x1="0" y1="0" x2="80" y2="0" stroke="url(#datum)" stroke-width="2" stroke-linecap="round" transform="translate(-80,0)" vector-effect="non-scaling-stroke"><animateMotion dur="4.5s" repeatCount="indefinite" path="M1 704.996C179.628 509.653 377.216 423 632.684 423C888.152 423 973.973 423 1290.31 423C1606.65 423 1797.76 564.249 1921 707" rotate="auto" begin="0"></animateMotion></line><defs><linearGradient id="datum" x1="0" y1="0" x2="80" y2="0" gradientUnits="userSpaceOnUse"><stop stop-color="transparent " offset="0"></stop><stop stop-color="white" offset="1"></stop></linearGradient><linearGradient id="path" x1="0" y1="0" x2="100%" y2="0" gradientUnits="userSpaceOnUse"><stop stop-color="transparent " offset="0%"></stop><stop stop-color="var(--primary)" offset="10%"></stop><stop stop-color="var(--primary)" offset="90%"></stop><stop stop-color="transparent" offset="100%"></stop></linearGradient></defs></svg>
					</div>
					<div class="homeContents">
						<div style="padding: 2rem"></div>
						<div id="start" style="" class="homeParagraph">

						</div>
						<div style="padding: 2rem"></div>	
					</div>
				</div>
			</div>
		</div>
	</transition>

</template>
<script setup>

</script>

<style scoped>
.button {
	background: rgb(19, 19, 21);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(34, 35, 37);
	border-image: initial;
	padding: 0px 16px;
	border-radius: 32px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 32px;
	width: 110px;

	text-decoration: none !important;

	/*position: absolute;*/
	/*bottom: 16rem;*/
	/*left: 50%;*/
	/*transform: translateX(-50%) translateY(-50%);*/
}

.prologue {
	display: block;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.75;
	color: rgb(138, 143, 152);
}

.buttontext {
	color: rgb(208, 214, 224);
	font-style: normal;
	line-height: normal;
	font-size: 13px;
	font-weight: 500;
}

.title {
	position: absolute;
    top: 20%;
    left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;

	display: flex;
	flex-direction: column;
	max-width: 40rem;
}
.brandingContainer {
	/* position: absolute; */
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
/* 
	margin-top: calc(-1 * ((.64 * 100vw) - 16rem) / 2); */
}

.logoContainer {
	position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 16rem;
    border-radius: 3.5rem;
    background: hsla(0,0%,100%,.01);
    box-shadow: inset 6px 84px 79px -40px hsl(0deg 0% 100% / 3%), inset 0 4px 1px -3px hsl(0deg 0% 100% / 25%);
    transform: translateX(-50%) translateY(-50%);
	backdrop-filter: saturate(180%) blur(10px);
	z-index: 1;
	transition: 1.3s cubic-bezier(0,.95,.21,.99);
}

.logoContainer:hover {
	box-shadow: inset 6px 84px 79px -40px hsl(0deg 0% 100% / 15%), inset 0 4px 1px -3px hsl(0deg 0% 100% / 15%);
	transform: translateX(-50%) translateY(-50%) scale(1.065);
}

.logoContainer > svg {
	width: 40%;
}
.mapImage {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	border: none;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	border-radius: 2rem;
}

.newContent {
	display: flex;
	flex: 1 1 0%;
}

.contentWrapper {
	display: flex;
	width: 100%
}

.main {
	overflow-y: auto;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	display: flex;
	position: relative;
}

.homeContents {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;

	max-width: 40rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	word-break: break-word;	
}

a {
	color: rgb(59 130 246);
	text-decoration: none;
	border-radius: 4px;
	padding-left: 2px;
	padding-right: 2px;
}

a:hover {
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

a:focus {
	text-decoration: underline;
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

* {
	line-height: 1.75;
}

.title {
	font-weight: bolder;
	font-size: 36px;
	margin-bottom: 2rem;
}

.gradients {
	pointer-events: none;
	position: absolute;
	inset: 0px;
	overflow: hidden;

	display: none;
}

.gradients:before {
	will-change: transform;
	content: "";
	position: absolute;
	top: 0px;
	left: 50%;
	height: 100%;
	width: 100%;
	transform: translateX(-50%);
	opacity: 0.1;
	filter: blur(60px);
	background: conic-gradient(from 180deg at 58.33% 50%, rgb(109, 84, 225) 0deg, rgb(25, 67, 157) 91.02deg, rgb(243, 99, 255) 180.24deg, rgb(26, 130, 252) 269.01deg, rgb(109, 84, 225) 360deg);
}

.gradients:after {
	content: "";
	position: absolute;
	inset: 10% 0px 0px;
	background: linear-gradient(to top, rgb(5, 5, 5), transparent);
}
</style>