<template>
  <aside class="blogNavigation">
    <div class="navTitle">
      <div class="name">Blog</div>
    </div>
    <div class="blogColumn">
      <div class="blogs">
        <div class="cardBackground"></div>
        <router-link class="blogCard" to="/blog/2" tabindex="1">
          <div class="blogContent">
            <div class="blogTitle">Rebuilding my router</div>
            <div class="blogSubtitle">September 4, 2022</div>
          </div>
        </router-link>
        <router-link class="blogCard" to="/blog/1" tabindex="1">
          <div class="blogContent">
            <div class="blogTitle">Hello from the Blog!</div>
            <div class="blogSubtitle">September 1, 2022</div>
          </div>
        </router-link>

<!--         				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link>
        				<router-link class="blogCard" to="/blog/null" tabindex="1">
        					<div class="blogContent">
        						<div class="blogTitle">Dummy Component</div>
        						<div class="blogSubtitle">Beyond Time</div>
        					</div>
        				</router-link> -->
      </div>
    </div>
  </aside>
</template>

<script setup>
import { gsap } from "gsap";
import { ref, onMounted } from "vue";

onMounted(() => {
	const highlight = document.querySelector(".cardBackground")
	const buttons = Object.values(document.querySelectorAll(".blogCard"))

	gsap.config({ force3D: 'auto' })

	buttons.forEach(button => {
		button.addEventListener('mouseenter', e => {
			gsap.killTweensOf(highlight)

			if (buttons.includes(e.relatedTarget) === true) {
				gsap.set(highlight, { opacity: 1, height: button.offsetHeight - 2 })

				gsap.to(
						highlight,
						{
							width: button.offsetWidth,
							x: button.offsetLeft,
							y: button.offsetTop,
							duration: 0.1
						}
				)

				return
			}

			gsap.set(
					highlight,
					{
						opacity: 1,
						width: button.offsetWidth,
						height: button.offsetHeight - 2,
						x: button.offsetLeft,
						y: button.offsetTop
					}
			)
		})

		button.addEventListener('mouseleave', e => {
			if (buttons.includes(e.relatedTarget) === false) {
				gsap.to(highlight, { opacity: 0, duration: 0.1 })
			}
		})
	})
});
</script>

<style scoped>
.blogNavigation {
  display: flex;
  flex-direction: column;

  min-width: 20rem;
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;

  border-right: 2px solid rgb(24, 24, 24);
  background: rgba(10, 10, 10, 1) none repeat scroll 0% 0%;
  z-index: 9998;
  position: relative;

  animation-name: slide-fade-in-left;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: backwards;
  animation-play-state: running;
}

.blogColumn {
  height: 100%;

  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.navTitle {
  display: flex;
  z-index: 9998;

  min-height: 48px;
  top: 0;
  position: sticky;

  background: rgba(10, 10, 10, 0.7) none repeat scroll 0% 0%;
  backdrop-filter: saturate(180%) blur(20px);

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.name {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.blogs {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.blogs:hover .cardBackground {
  opacity: 1;
}

.blogCard {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;

  padding-left: 0.875rem;
  padding-right: 0.875rem;

  /*margin: 0.25rem;*/
  display: flex;
  color: inherit;
  text-decoration: inherit;

  transition: 0.2s ease;
}

.blogCard.router-link-active {
  color: #ffffff;
  /*background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;*/
}

.blogCard.router-link-active:before {
  height: 100%;
  display: block;
  position: absolute;
  width: 4px;
  border-radius: 8px;
  background: white;
  content: "";
  margin-left: -26px;
  margin-top: -8px;
  transition: 170ms ease-out;
  pointer-events: none;
}

.blogCard:before {
  height: 0;
  display: block;
  position: absolute;
  width: 4px;
  border-radius: 8px;
  background: white;
  content: "";
  margin-left: -30px;
  margin-top: -8px;
  transition: 150ms ease-out;
  pointer-events: none;
}

.blogCard:hover {
  color: #ffffff;
  /*background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;*/
  transition: 0.2s ease;
}

.blogCard:focus {
  /*box-shadow: 0 0 0 4px deepskyblue;*/
  color: #ffffff;
  /*background: rgba(48, 48, 48, 1) none repeat scroll 0% 0%;*/
}
.blogContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blogTitle {
  font-weight: normal;
}

.blogSubtitle {
  font-size: 13px;
  color: rgba(247, 248, 248, 0.6);
}

@keyframes slide-fade-in-left {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cardBackground {
	left: 0;
	position: absolute;
	background: #222;
	z-index: -1;
	border-radius: 0.6ch;
	opacity: 0;

	pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .blogNavigation {
    background: rgba(10, 10, 10, 1) none repeat scroll 0% 0%;
    width: 100%;
    z-index: 500;
  }
}
</style>
