<template>
  <aside class="aboutNavigation">
    <div class="navTitle">
      <div class="name">Evan Song</div>
    </div>
    <div class="aboutLinksColumn">
      <div class="linkBackground"></div>
      <router-link tabindex="1" class="aboutLink" to="/"
        ><Home class="linkIcon" /> Home</router-link
      >
      <router-link tabindex="1" class="aboutLink" to="/blog"
        ><Note class="linkIcon" /> Blog</router-link
      >
      <router-link tabindex="1" class="aboutLink" to="/projects"
        ><Wrench class="linkIcon" /> Projects</router-link
      >
      <router-link tabindex="1" class="aboutLink" to="/contact"
        ><PaperPlane class="linkIcon" /> Contact</router-link
      >
      <div class="sectionTitle">Online</div>
      <a
        class="aboutLink"
        href="https://go.evan.graphics/twitter"
        target="_blank"
        rel="noopener noreferrer"
        tabindex="1"
        ><Twitter class="linkIcon" /> Twitter
        <OpenLink class="linkIcon marginLeftAuto"
      /></a>
      <a
        class="aboutLink"
        href="https://go.evan.graphics/telegram"
        target="_blank"
        rel="noopener noreferrer"
        tabindex="1"
        ><PaperPlane class="linkIcon" /> Telegram
        <OpenLink class="linkIcon marginLeftAuto"
      /></a>
      <a
        class="aboutLink"
        href="https://go.evan.graphics/github"
        target="_blank"
        rel="noopener noreferrer"
        tabindex="1"
        ><GitHub class="linkIcon" /> Github
        <OpenLink class="linkIcon marginLeftAuto"
      /></a>
      <a
        class="aboutLink"
        href="https://go.evan.graphics/gitlab"
        target="_blank"
        rel="noopener noreferrer"
        tabindex="1"
        ><Gitlab class="linkIcon" /> Gitlab
        <OpenLink class="linkIcon marginLeftAuto"
      /></a>
    </div>
  </aside>
</template>

<script setup>
import Discord from "../icons/discord.vue";
import GitHub from "../icons/github.vue";
import Twitter from "../icons/twitter.vue";
import Telegram from "../icons/telegram.vue";
import Gitlab from "../icons/gitlab.vue";

import Home from "../icons/Home.vue";
import Note from "../icons/Note.vue";
import Wrench from "../icons/Wrench.vue";
import PaperPlane from "../icons/PaperPlane.vue";
import OpenLink from "../icons/link.vue";

import { gsap } from "gsap";
import { ref, onMounted } from "vue";

onMounted(() => {
	const highlight = document.querySelector(".linkBackground")
	const buttons = Object.values(document.querySelectorAll(".aboutLink"))

	gsap.config({ force3D: 'auto' })

	buttons.forEach(button => {
		button.addEventListener('mouseenter', e => {
			gsap.killTweensOf(highlight)

			if (buttons.includes(e.relatedTarget) === true) {
				gsap.set(highlight, { opacity: 1, height: button.offsetHeight - 2 })

				gsap.to(
						highlight,
						{
							width: button.offsetWidth,
							x: button.offsetLeft,
							y: button.offsetTop,
							duration: 0.1
						}
				)

				return
			}

			gsap.set(
					highlight,
					{
						opacity: 1,
						width: button.offsetWidth,
						height: button.offsetHeight - 2,
						x: button.offsetLeft,
						y: button.offsetTop
					}
			)
		})

		button.addEventListener('mouseleave', e => {
			if (buttons.includes(e.relatedTarget) === false) {
				gsap.to(highlight, { opacity: 0, duration: 0.1 })
			}
		})
	})
});
</script>

<style></style>

<style scoped lang="scss">
.navigationLink {
	user-select: none;
  width: 24px;
  height: 24px;

  color: rgba(247, 248, 248, 0.6);
  fill: rgba(247, 248, 248, 0.6);
  transition: 0.25s;
}

.navigationLink:hover {
  color: rgba(247, 248, 248, 1);
  fill: rgba(247, 248, 248, 1);
  transition: 0.25s;
}

.navigationLink > svg[data-icon="discord"] {
  margin-top: 4px;
}

.aboutSocials {
  margin-top: auto;
  color: rgba(247, 248, 248, 1);
  display: flex;
  position: sticky;
  bottom: 0;
  flex-direction: row;
  -moz-box-align: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 0px;

  background: rgba(10, 10, 10, 0.7) none repeat scroll 0% 0%;
  backdrop-filter: saturate(180%) blur(20px);
}

.aboutNavigation {
  display: flex;
  flex-direction: column;

  min-width: 15rem;
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
  height: 100%;

  border-right: 2px solid rgb(24, 24, 24);
  background: rgba(10, 10, 10, 0.7) none repeat scroll 0% 0%;
  z-index: 9998;
  position: relative;
}

.aboutLinksColumn {
  //height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.aboutLinksColumn:hover .linkBackground {
  opacity: 1;
}

.aboutLinksColumn:hover > .aboutLink.router-link-exact-active {
}

.aboutLinksColumn:hover > .aboutLink.router-link-exact-active:before {
  //opacity: 0;
  //height: 0;
  //transition: 75ms ease-out;
}

.aboutLink:focus {
  color: #ffffff;
  //background: rgba(48, 48, 48, 1) none repeat scroll 0% 0%;
  /*box-shadow: 0 0 0 4px deepskyblue;*/
  //border-radius: 4px;
}

.aboutLink:hover {
  color: #ffffff;
  //background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
  border-radius: 4px;
  transition: 0.2s ease;
}

.aboutLink.router-link-exact-active {
  color: rgba(247, 248, 248, 1) !important;
}

.aboutLink.router-link-exact-active:before {
  height: 100%;
  display: block;
  position: absolute;
  width: 4px;
  border-radius: 8px;
  background: white;
  content: "";
  margin-left: -24px;
  transition: 150ms ease-out;
  pointer-events: none;
}

.aboutLink:before {
  height: 0;
  display: block;
  position: absolute;
  width: 4px;
  border-radius: 8px;
  background: white;
  content: "";
  margin-left: -24px;
  transition: 150ms ease-out;
  pointer-events: none;
}

.aboutLink.router-link-exact-active > .linkIcon {
  fill: rgba(247, 248, 248, 1);
}

.linkActive > .linkIcon {
  fill: rgba(247, 248, 248, 1);
}

.aboutLink {
  padding: 6px 12px;
  display: flex;
  color: rgba(247, 248, 248, 0.6);
  text-decoration: none;
  flex-shrink: 0;

  align-items: center;
  gap: 10px;

  transition: 0.2s ease;
  border-radius: 4px;
	user-select: none;
}

a {
	user-select: none;
  text-decoration: none;
}

.navTitle {
  display: flex;
  z-index: 9998;

  min-height: 48px;
  top: 0;
  position: sticky;

  background: rgba(10, 10, 10, 0.7) none repeat scroll 0% 0%;
  backdrop-filter: saturate(180%) blur(20px);

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

	user-select: none;
}

.name {
  display: flex;
  flex: none;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.sectionTitle {
  padding: 6px 12px;
  margin-right: 0.75rem;
  margin-top: 1.25rem;

  display: flex;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: bolder;
	user-select: none;
}

.linkIcon {
  width: 1rem;
  height: 1rem;
  fill: rgba(247, 248, 248, 0.6);
}

.marginLeftAuto {
  margin-left: auto;
}

.linkBackground {
	left: 0;
	position: absolute;
	background: #222;
	z-index: -1;
	border-radius: 0.6ch;
	opacity: 0;

  pointer-events: none;
}

@media only screen and (max-width: 768px) {
  .aboutNavigation {
    position: absolute;
    transform: translateX(-100%);
    transition: 0.25s ease;
    background: rgba(10, 10, 10, 1) none repeat scroll 0% 0%;
    width: 100%;
    z-index: 400;
  }
}
</style>
