<template>
  <p>
    <span style="font-family: monospace; font-weight: normal">{{ text }}</span>
  </p>
</template>

<script>
export default {
  data() {
    return {
      textEntries: [
        "Well, there you are!",
        "Oh, it's you again!",
        "There's a seat over there!",
        "And there we go!",
        "I knew you'd come back!",
        "You're in for a good time!",
        "Have you tried MechaKeys?",
        "Hi!",
        "Hello!",
        "Hey!",
        "Care for a tea?",
      ],
    };
  },
  computed: {
    text: function () {
      return this.textEntries[
        Math.trunc(Math.random() * this.textEntries.length)
      ];
    },
  },
};
</script>

<style scoped></style>
