<template>
	<transition>
	<div class="newContent">
		<div class="contentWrapper">
			<div class="main">
				<div class="homeContents">
					<div style="padding: 2rem"></div>
					<router-link class="" to="/blog"><div class="backHome"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg> Close Post</div></router-link>
					<div class="homeParagraph">
						<h1 class="title">Hello from the blog!</h1>
					</div>
					<div class="homeParagraph">
						Hi! this is a test post from the blog. If you see this, that means the router is working perfectly and I can now write blog posts from the comfort of my own IDE! yay (sarcasm is implied)! I'll try to get this automated sometime.
					</div>
					<div style="padding: 1rem"></div>
					<div class="homeParagraph">
						In the meantime, this is 40% just smoke and mirrors. It's an elaborate illusion! But in the background, I'm getting all of the backend infrastructure working so that my blog can be easier to manage than a bunch of Vue components -- shipping that much Javascript to the client sucks.
					</div>
					<div style="padding: 1rem"></div>
					<div class="homeParagraph">
						I'm looking into database solutions and dynamic hydration so that so much js isn't shipped to you, and the burden of managing it isn't on your poor device.
					</div>
					<div style="padding: 1rem"></div>
					<div class="homeParagraph">
						Or I could've been a normal person and listened to my friend telling me to use Jekyll and static site generators. No! I can, I will, I must overengineer the entire site!
					</div>
					<div style="padding: 1rem"></div>
					<div class="homeParagraph">
						Thanks for reading this far! Have a nice day.
					</div>
					<div style="padding: 0.25rem"></div>
					<div class="homeParagraph">
						- Fero
					</div>
					<div style="padding: 2rem"></div>
				</div>
			</div>
		</div>
	</div>
	</transition>
</template>

<script setup>

</script>

<style scoped>
.mapImage {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	border: none;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	border-radius: 2rem;
}

.newContent {
	display: flex;
	flex: 1 1 0%;
}

.contentWrapper {
	display: flex;
	width: 100%
}

.main {
	overflow-y: auto;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	display: flex;
	position: relative;
}

.homeContents {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;

	max-width: 42rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	word-break: break-word;
}

a {
	color: rgb(59 130 246);
	text-decoration: none;
}

a:hover {
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

a:focus {
	text-decoration: underline;
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

* {
	line-height: 1.75;
}

.title {
	font-weight: bolder;
	font-size: 36px;
	margin-bottom: 2rem;
}

.backHome {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(32, 32, 32, 0) none repeat scroll 0% 0%;
	gap: 0.5rem;
	color: rgba(247, 248, 248, 0.6);
}

.backHome:hover {
	background: rgba(32, 32, 32, 0) none repeat scroll 0% 0%;
}
</style>