<template>
	<transition>
		<div class="newContent">
			<div class="contentWrapper">
				<div class="main">
					<div class="homeContents">
						<div style="padding: 2rem"></div>
						<router-link class="" to="/blog"><div class="backHome"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class=""><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg> Close Post</div></router-link>
						<div class="homeParagraph">
							<h1 class="title">Rebuilding my router</h1>
						</div>
						<div class="homeParagraph">
							Hi! It's me again. While building this website I noticed a few issues of being a single-page app than a true multi-page site.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							Typically websites are made up of several pages where you can set their individual meta-tags, titles, and have completely unique content. However, this means that navigating from page to page takes much longer because there isn't any connectivity between them.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							Cue modern web frameworks, like Vue, which was used to build this site. The power of Javascript-based routing means that you can navigate to different "pages" in the website - /paths - while remaining on the same page for the entire lifecycle of that session. You don't navigate anywhere except from that initial index page that you loaded into.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							It's great, this system works great. Clicking links that go from one part of the site to another is virtually instantaneous - there's never any loading screens, white flashes of death, or unstyled CSS coming in.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							Except, it isn't all great. Now I can't dynamically update the metadata of my page - embedding different parts of my site would always show the same default that I set on my index.html. This is bad for SEO, and it's bad UX in general. So I need a solution that allows me to set metadata and titles before the router changes pages.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							Let's take a look at the default blank path of my router after the changes I made.
						</div>

						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							<img class="blogimg" src="https://i.imgur.com/odBgrtr.png"/>
						</div>

						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							The meta field is normally used for arbitrary information like transition names or locking routes, but I imagine a better use is for actual meta tags! So that's exactly what I did.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							Let's take a look at this new router guard.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							<img class="blogimg" src="https://i.imgur.com/LhSCkMT.png"/>
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							So on before each page load, I'm getting the meta from the "to" target. It gets the title, and the meta tags.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							<img class="blogimg" src="https://i.imgur.com/zTNQXAF.png"/>
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							If there's a title in the meta, I will set the page title to that. Otherwise, I'll keep the previous title.
						</div>

						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							<img class="blogimg" src="https://i.imgur.com/wccrxrj.png"/>
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							This will remove any stale tags, and if there's no meta tags, we'll skip rendering them. Next up is when we turn the meta into actual elements in the DOM! We're also setting the tag here, data-vue-router-controlled, so that we know what tags were created by us.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							<img draggable="true" class="blogimg" src="https://i.imgur.com/JJPiJ5R.png"/>
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							Here, we turn our meta definitions into actual elements in the head. Lastly, we navigate to the requested page.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
								This all happens in milliseconds - so fast that page loads aren't affected, and clicks are just as fast as ever! Now I've solved that problem, and embeds to external websites and search engines will work much better.
						</div>
						<div style="padding: 1rem"></div>
						<div class="homeParagraph">
							Thanks for reading this far! Have a nice day.
						</div>
						<div style="padding: 0.25rem"></div>
						<div class="homeParagraph">
							- Fero
						</div>
						<div style="padding: 2rem"></div>
					</div>
				</div>
			</div>
		</div>
	</transition>
</template>

<script setup>

</script>

<style scoped>
.mapImage {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	border: none;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	border-radius: 2rem;
}

.newContent {
	display: flex;
	flex: 1 1 0%;
}

.contentWrapper {
	display: flex;
	width: 100%
}

.main {
	overflow-y: auto;
	flex-direction: column;
	width: 100%;
	max-height: 100vh;
	display: flex;
	position: relative;
}

.homeContents {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;

	max-width: 42rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	word-break: break-word;
}

a {
	color: rgb(59 130 246);
	text-decoration: none;
}

a:hover {
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

a:focus {
	text-decoration: underline;
	background: rgba(32, 32, 32, 1) none repeat scroll 0% 0%;
}

* {
	line-height: 1.75;
}

.title {
	font-weight: bolder;
	font-size: 36px;
	margin-bottom: 2rem;
}

.backHome {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgba(32, 32, 32, 0) none repeat scroll 0% 0%;
	gap: 0.5rem;
	color: rgba(247, 248, 248, 0.6);
}

.backHome:hover {
	background: rgba(32, 32, 32, 0) none repeat scroll 0% 0%;
}

.blogimg {
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	background: none;
	opacity: 1;
	border: 0;
	margin: 0;
	padding: 0;
	position: relative;
	box-sizing: border-box;
	padding: 0;
	border: none;
	min-width: 100%;
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	border-radius: 2rem;
}
</style>