<script>
// Will be dynamic soon.
export default {
  data() {
    return {
      theme: "dark",
      fontSize: "default",
      access: "none",
      accessID: "none",
      accessSecret: "none",
    };
  },
};
</script>

<script setup>

</script>

<template>
  <div
    class="app"
    style="position: relative; height: 100%"
    :data-theme="theme"
    :data-font-size="fontSize"
    :data-access-authenticated="access"
    :data-access-id="accessID"
    :data-access-secret="accessSecret"
    tabindex="-1"
  >
    <router-view></router-view>
  </div>
</template>

<style>
:root {
	--primary: #161616;
}
* {
	scroll-behavior: smooth;
}
* {
  min-width: 0;
  min-height: 0;
}
* {
  border: 0;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.hidden {
  visibility: hidden;
  display: none !important;
}

html,
body {
  background-color: #060606;
  color: #eeeeee;
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  color: inherit;
  border: none;
}

a {
	cursor: default;
}

@media only screen and (max-width: 800px) {
  .layout {
    flex-direction: column !important;
  }

  .navigationWrapper {
    flex-direction: row !important;
    width: 100% !important;
    height: 64px !important;
  }

  .navigationWrapper {
    justify-content: flex-end !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navigationWrapper {
    border-right: none !important;
    border-bottom: 1px solid rgba(247, 248, 248, 0.1);
  }

  .navigationWrapper {
    position: fixed;
    top: 0px;
  }

  .introductionWrapper {
    margin-top: 64px;
  }

  .introduction {
    margin-top: 64px;
  }

  .extendedDescription {
    position: initial !important;
    padding-bottom: 0rem !important;
  }

  .about {
    margin-top: 64px;
  }

  .lostHeader {
    font-size: 24px !important;
  }
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-resizer {
  background-color: #f0f3f8;
}
::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #f0f3f8;
  border-radius: 16px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
</style>

<style scoped>
.app {
  display: flex;
}

.layout {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.backgroundToggleButton {
  padding: 1rem;
  border-radius: 96px;
  background: rgb(19, 19, 21) none repeat scroll 0% 0%;
  border: 1px solid rgb(34, 35, 37);

  position: fixed;
  bottom: 24px;
  right: 24px;

  transition: 0.2s ease;
  z-index: 9999;

  box-shadow: 0px 0px 13.1px rgba(0, 0, 0, 0.056),
    0px 0px 23.8px rgba(0, 0, 0, 0.08), 0px 0px 33px rgba(0, 0, 0, 0.097),
    0px 0px 41.7px rgba(0, 0, 0, 0.112), 0px 0px 50.4px rgba(0, 0, 0, 0.126),
    0px 0px 59.9px rgba(0, 0, 0, 0.14), 0px 0px 70.8px rgba(0, 0, 0, 0.155),
    0px 0px 84.1px rgba(0, 0, 0, 0.173), 0px 0px 101.3px rgba(0, 0, 0, 0.198),
    0px 0px 125px rgba(0, 0, 0, 0.25);
}

.backgroundToggleButton:hover {
  background: rgb(28, 29, 31) none repeat scroll 0% 0%;
  border-color: rgb(49, 48, 53);

  transition: 0.2s ease;
}

.backgroundToggleButton:hover > .toggleButtonIcon > svg {
  fill: #eeeeee !important;

  transition: 0.2s ease;
}

.toggleButtonIcon,
.toggleButtonIcon > svg {
  width: 24px;
  height: 24px;
}

.toggleButtonIcon > svg {
  fill: #909090;

  transition: 0.2s ease;
}
</style>
