<template>
  <div class="newApp">
    <NewNav
      :style="[
        SidebarOpen
          ? { transform: 'translateX(0%)', 'z-index': '600' }
          : { display: 'none' },
      ]"
    />

    <router-view v-slot="{ Component }">
      <transition :name="$route.meta.transition || 'fade'" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>

    <div class="backgroundToggleButton" @click="SidebarOpen = !SidebarOpen">
      <div class="toggleButtonIcon">
        <Menu v-if="!SidebarOpen" />
        <Close v-if="SidebarOpen" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      SidebarOpen: true,
    };
  },
};
</script>

<script setup>
import NewNav from "../components/NewNav.vue";

import Menu from "../icons/Menu.vue";
import Close from "../icons/Close.vue";
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: 170ms ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
	/*transform: scale(0.95);*/
	transform: translateY(30px);
	filter: blur(30px);
}

.sidebar-fade-enter-active,
.sidebar-fade-leave-active {
	transition: 170ms ease;
}
.sidebar-fade-enter-from,
.sidebar-fade-leave-to {
	opacity: 0;
	/*transform: scale(0.95);*/
	transform: translateX(-30px);
	filter: blur(30px);
}
</style>
<style scoped>
.newApp {
  position: relative;
  background: linear-gradient(90deg, #050505 15px, transparent 1%) 50%,
    linear-gradient(#050505 15px, transparent 1%) 50%, hsla(0, 0%, 100%, 0.16);
  background-size: 16px 16px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.backgroundToggleButton {
  padding: 1rem;
  border-radius: 96px;
  background: rgb(19, 19, 21) none repeat scroll 0% 0%;
  border: 1px solid rgb(34, 35, 37);

  position: fixed;
  bottom: 24px;
  right: 24px;

  transition: 0.2s ease;
  z-index: 9999;

  box-shadow: 0px 0px 13.1px rgba(0, 0, 0, 0.056),
    0px 0px 23.8px rgba(0, 0, 0, 0.08), 0px 0px 33px rgba(0, 0, 0, 0.097),
    0px 0px 41.7px rgba(0, 0, 0, 0.112), 0px 0px 50.4px rgba(0, 0, 0, 0.126),
    0px 0px 59.9px rgba(0, 0, 0, 0.14), 0px 0px 70.8px rgba(0, 0, 0, 0.155),
    0px 0px 84.1px rgba(0, 0, 0, 0.173), 0px 0px 101.3px rgba(0, 0, 0, 0.198),
    0px 0px 125px rgba(0, 0, 0, 0.25);
}
.backgroundToggleButton:hover {
  background: rgb(28, 29, 31) none repeat scroll 0% 0%;
  border-color: rgb(49, 48, 53);

  transition: 0.2s ease;
}

.backgroundToggleButton:hover > .toggleButtonIcon > svg {
  fill: #eeeeee !important;

  transition: 0.2s ease;
}

.toggleButtonIcon,
.toggleButtonIcon > svg {
  width: 24px;
  height: 24px;
}

.toggleButtonIcon > svg {
  fill: #909090;

  transition: 0.2s ease;
}
</style>

<style>
/*@media only screen and (min-width: 768px) {*/
/*	.backgroundToggleButton {*/
/*		display: none !important;*/
/*	}*/
/*}*/
</style>
